# Compiled binaries and libraries
*.o
*.a
*.out

# Specific Linux Executables without extensions
MyLib
MyLibTest

# Modules build objects
modules/*.o
modules/*/*.o

# VS Code settings & Temp files
.vscode/
tempCodeRunnerFile*

# System files
.DS_Store
